*/bin/
*/cartomap/
*.bag
*.bag.active
*.user*
.idea/
*denKeyfPos*
*denKeyfPosRelation*
*MapPointsPos*
*log*
ai_robot_navigation/src/findpath/denKeyfPos.txt
ai_robot_navigation/src/findpath/denKeyfPosRelation.txt
ai_robot_navigation/src/findpath/MapPointsPos.txt
ai_robot_navigation/src/findpath/logfile.txt
ai_robot_navigation/src/obstacle_avoid/obslog.txt
ai_robot_navigation/src/gennodemap/build/*
ai_robot_navigation/src/gennodemap/input/*
examples/*/build/
examples/*/*.user*
