<launch>
	<arg name="map" default="mymap.yaml" />
	<node pkg="map_server" name="map_server" type="map_server" args="$(find ai_robot_nav_demo)/map/$(arg map)" />
	<include file="$(find ai_robot_nav_demo)/launch/amcl.launch" />
	<!--include file="$(find nav_demo)/launch/path.launch" /-->
	<!--node pkg="nav_demo" type="move_object" name="move_object" /-->
	<node pkg="rviz" type="rviz" name="rviz" args="-d $(find ai_robot_nav_demo)/default.rviz" />

</launch> 
