<launch>
  <!-- move_base ai_robot_modify -->
  <!--node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen"-->
  <node pkg="move_base" type="obs_avoid" respawn="false" name="obs_avoid" output="screen">
  <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
    <!--remap from="cmd_vel" to="/sim_p3at/cmd_vel"/>
    <remap from="odom" to="sim_p3at/odom"/-->
    <rosparam file="$(find ai_robot_nav_demo)/param/costmap_common_params.yaml" command="load" ns="global_costmap" /> 
    <rosparam file="$(find ai_robot_nav_demo)/param/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find ai_robot_nav_demo)/param/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find ai_robot_nav_demo)/param/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find ai_robot_nav_demo)/param/move_base_params.yaml" command="load" /> 
    <rosparam file="$(find ai_robot_nav_demo)/param/teb_local_planner_params.yaml" command="load" />
  </node>
</launch>		

