KERNEL=="ttyACM*", ATTRS{idVendor}=="1b4f", ATTRS{idProduct}=="9d0f", ATTRS{serial}=="F5F3FC255150334C414A2020FF011B34", MODE:="0777", GROUP:="dialout", SYMLINK+="razor-imu-9dof-03"
