<launch>
  <arg name="threeD" default="false"/>
  <arg name="paramfile" default="params_oa_hokuyo.yaml"/>
  <arg name="point_cloud_topic" default="sensors/lidar/points"/>
  <rosparam command="load" file="$(find ai_robot_navigation)/param/$(arg paramfile)"/>
  <param name="obslog" value="$(find ai_robot_navigation)/log/obslog.txt"/>

  <node name="obsavoid" pkg="ai_robot_navigation" type="obsavoid_node" respawn="false" output="screen">
    <remap from="base_scan" to="scan" /> 
    <remap from="/RosAria/pose" to="/sim_p3at/odom" /> 
    <remap from="RosAria/cmd_vel" to="sim_p3at/cmd_vel" />
  </node>

  <node name="pointcloud_viewer_node" pkg="ai_robot_navigation" type="pointcloud_viewer_node" respawn="false" output="screen" if="$(arg threeD)">
    <remap from="points" to="sensors/lidar/points" />
  </node>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find ai_robot_nav_demo)/obsavoidsim_visual.rviz" />
</launch>

